
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body, html {
    height: 100%;
}


.wrapper {
    position: relative;
    
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
   
}

.cool-title {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px; /* Adjust this value as needed */
}

.highlight {
    color: #ffcc00; /* Or any other color you prefer */
}



.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}

.tab {
    padding: 10px 25px; /* Increased padding for more space */
    background-color: rgba(240, 240, 240, 0.5); /* More transparent background */
    border-radius: 5px;
    margin: 0 15px; /* Increased margin for space between tabs */
    cursor: pointer;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px); /* Apply blurry effect */
}

.tab:hover {
    background-color: rgba(220, 220, 220, 0.5); /* More transparent background on hover */
}


.weather-container{
    margin-block:4rem;
}

.cool-button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.cool-button:hover {
    background-color: #3b3c44; /* Darker Green */
}


.sub-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.grant-location-container{
     display:none; 
}

.grant-location-container.active{
    display:flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}

.grant-location-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display:none;
}

.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}

.user-info-container img{
    width:90px;
    height:90px;
}

.name p{
        font-size:2rem;
}

.name img{
    width: 30px;
    height:30px;
    object-fit: contain;
}

.user-info-container p[data-temp] {
    font-size:2.75rem;
    font-weight:700;
}

.parameter-container{
    width:90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.parameter{
    width:30%;
    max-width:200px;
    background-color: rgba(219, 226, 239, 0.5);;
    border-radius: 5px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:5px 0;
    /* justify-content: space-between; */
    align-items: center; 
}   

.parameter img{
    width:50px;
    height:50px;
}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight:600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom:1px;
}

/* Footer */
.footer {
    background-color: rgba(41, 41, 41, 0.8); /* Adjust opacity as needed */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
    z-index: 999; /* Ensure the footer appears above other content */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    flex: 1;
}

.footer h3 {
    margin: 0;
    font-size: 16px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}
